{% load static %}
<html>
    <head>
        <title>
            {% block title %}
            Character Sorter
            {% endblock %}
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        Notice: This website almost certainly has security vulnerabilities. I
        took vague precautions but if this website ever asks you for your
        social security number, assume that it got hacked.
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.get_username }}. <a href="{% url "logout" %}">Log out</a></p>
        {% else %}
            <p>Welcome, new user. Please <a href="{% url "login" %}">log in</a>.</p>
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>

