{% load static %}
<html>
    <head>
        <title>
            {% block title %}
            Character Sorter
            {% endblock %}
        </title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        {% block js %}{% endblock %}
    </head>
    <body>
        {% if user.is_authenticated %}
            <p>Welcome, {{ user.get_username }}. Thanks for logging in.</p>
        {% else %}
            <p>Welcome, new user. Please <a href="{% url "login" %}">log in</a>.</p>
        {% endif %}
        {% block body %}
        {% endblock %}
    </body>
</html>

