{% load static %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'sorterinput/js/sort.js' %}"></script>

<h1>Sorting {{ charlist.title }}</h1>

{% if done %}<p><strong>Done!</strong></p>
{% else %}
<h2>Choose the better one</h2>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form id="sort_form" action="{% url 'sorterinput:sortlist' charlist.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="char1" id="char1" value="{{ char1.id }}" />
    <input type="hidden" name="char2" id="char2" value="{{ char2.id }}" />
    <ul>
        <li> <input type="radio" name="sort" id="sort1" value="1" />
            <label for="sort1">
                {{ char1.name }} from {{ char1.fandom }}</label></li>
        <li> <input type="radio" name="sort" id="sort-1" value="-1" />
            <label for="sort-1">
                {{ char2.name }} from {{ char2.fandom }}</label></li>
        <li> <input type="radio" name="sort" id="sort0" value="0" />
            <label for="sort0">
                Same</label></li>
    </ul>

    <input type="submit" id="sort_submit" value="Submit!" />
</form>

{% endif %}

{% if lastsort is not None %}
<form id="undo_form" action="{% url 'sorterinput:undo' charlist.id %}" method="post">
    {% csrf_token %}
    <input type="hidden" name="last" id="last" value="{{ lastsort.id }}" />
    <input type="submit" id="undo_submit" value="Undo last sort ({{ lastsort }})" />
</form>
{% endif %}

<a href="{% url 'sorterinput:viewlist' charlist.id %}">Back to viewing</a>
