{% extends "base.html" %}
{% load sorter_extras %}

{% block title %}
Viewing {{ charlist.title }} | Character Sorter
{% endblock %}

{% block body %}
<h1>Viewing list {{ charlist.title }}
</h1>


<h2>Owned by: {{ charlist.owner }}</h2>
<h2>Characters:
<a href="{% url 'sorterinput:editlist' charlist.id %}">Edit</a>
<a href="{% url 'sorterinput:sortlist' charlist.id %}">Sort</a>
{% if has_graph %}
<a href="{% url 'sorterinput:graphlist' charlist.id %}">Graph</a>
{% endif %}
</h2>
<ol>
{% for char in sortedchars %}
<li>
<strong>{{ char.name }}</strong> from <strong>{{ char.fandom }}</strong>
{% if annotations|get_item:char.id is not None %}
({{ annotations|get_item:char.id }})
{% endif %}
</li>
{% endfor %}
</ol>

<p><a href="{% url 'sorterinput:index' %}">Back to lists</a></p>
{% endblock %}
